### DataFrame_Pandas

### Boolean

In [37]:
print(True == False)
print(True == True)

False
True

In [5]:
True == True

True

In [7]:
True == False

False

In [9]:
False == False

True

In [39]:
True ! == '1'

SyntaxError: invalid syntax (<ipython-input-39-d1560780b89f>, line 1)

In [13]:
e = 'Abcde'

In [19]:
big = e.upper()
big

'ABCDE'

In [17]:
e.lower()

'abcde'

In [20]:
e

'Abcde'

In [14]:
data = ['재홍', '유빈', 2,3,4]
t=(1,2,3,4,5)
d={'name':'일', 2:'이'}

In [16]:
d.keys()

dict_keys(['name', 2])

In [17]:
d.values()

dict_values(['일', '이'])

In [11]:
t[0]='일' #튜플의 요소는 기본적으로는 바꿀 수 없다

TypeError: 'tuple' object does not support item assignment

In [3]:
data[1], data [-1]

('유빈', 4)

In [5]:
data[2:]

[2, 3, 4]

In [7]:
data[:2]

['재홍', '유빈']

In [9]:
data[0]='석찬'

In [10]:
data

['석찬', '유빈', 2, 3, 4]

In [23]:
type(data)

list

In [25]:
type(d)

dict

In [18]:
type(t)

tuple

In [20]:
a=[1,2,3]
b=['치킨','피자','고구마']

In [35]:
a.append(400)

In [36]:
a

[1, 2, 3, 400, 400]

In [25]:
b

['치킨', '피자', '고구마']

In [33]:
s1=[a,b]

In [29]:
import pandas as pd

In [94]:
pd.Series(s1)

0    [1, 2, 3, 400, 400]
1          [치킨, 피자, 고구마]
dtype: object

In [41]:
pd.DataFrame(s1)

    0   1    2      3      4
0   1   2    3  400.0  400.0
1  치킨  피자  고구마    NaN    NaN

In [79]:
pd.DataFrame(data=dict(num=a,menu=b))

   num menu
0    1    1
1    2    2
2    3    3
3  400    사
4  400    오

In [ ]:
d = ['일','이','삼','사','오']

In [80]:
pd.DataFrame(data = index = colums=['이름'])

SyntaxError: invalid syntax (<ipython-input-80-803ad77d0c4c>, line 1)

In [89]:
per = [
    {'이름':'은주','나이':30,'직업':'J1'},
    {'이름':'소주','나이':20,'직업':'J2'},
    {'이름':'대주','나이':10,'직업':'J3'},
    {'이름':'국주','나이':40,'직업':'J1'}
]

In [90]:
pd.DataFrame(per)

   이름  나이  직업
0  은주  30  J1
1  소주  20  J2
2  대주  10  J3
3  국주  40  J1

In [91]:
per_2 = {
    '이름': ['은주', '소주','은주', '은주'],
    '나이': [30,40,10,21],
    '작업': ['j1','j1','j1','j1']
}

In [92]:
pd.DataFrame(per_2)

   이름  나이  작업
0  은주  30  j1
1  소주  40  j1
2  은주  10  j1
3  은주  21  j1

In [43]:
True == False

False

In [46]:
True != 0
False != 0

False

In [48]:
True or False
1 == '1'

False

In [50]:
True == True

True

In [53]:
False != 1
True == 0

False

In [55]:
True or False
1 == '0'

False

In [57]:
eng = 'Korea COVID 19'
eng.lower()
eng.upper()

'KOREA COVID 19'

In [61]:
eng = 'incheon 19'
eng.lower()
eng.upper()

'INCHEON 19'

In [69]:
Data = []
data.append('java')
data[0], data[-1], data[1:], data[:2]

('java',
 'java',
 ['java', 'java', 'java', 4, 3, 2, '유빈', '재홍', 'java'],
 ['java', 'java'])

In [70]:
data.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [72]:
data.reverse()

In [74]:
b=(1,2,3, '사','오')
c=1,2,3
type(b), type(c)

(tuple, tuple)

In [95]:
b[3] = 4

TypeError: 'tuple' object does not support item assignment

In [106]:
per = {
    '3식': ['아침','점심','저녁'],
    '메뉴': ['삼겹살', '치킨','피자']
}

In [107]:
pd.DataFrame(per)

   3식   메뉴
0  아침  삼겹살
1  점심   치킨
2  저녁   피자