### 공공데이터2

In [12]:
import pandas as pd

In [17]:
path = r'C:\Users\user\Desktop\data\data.csv'
df = pd.read_csv(path, encoding = 'CP949')

In [19]:
df

   발생년도    사고건수  사망자수    중상자수    경상자수  부상신고자수
0  2015  232035  4621   92522  233646   24232
1  2014  223552  4762   93047  223375   21075
2  2013  215354  5092   95361  215787   17563
3  2012  223656  5392  101703  227590   15272
4  2011  221711  5229  105873  222476   13042

In [21]:
df.tail()

   발생년도    사고건수  사망자수    중상자수    경상자수  부상신고자수
0  2015  232035  4621   92522  233646   24232
1  2014  223552  4762   93047  223375   21075
2  2013  215354  5092   95361  215787   17563
3  2012  223656  5392  101703  227590   15272
4  2011  221711  5229  105873  222476   13042

In [23]:
df.isnull()

    발생년도   사고건수   사망자수   중상자수   경상자수  부상신고자수
0  False  False  False  False  False   False
1  False  False  False  False  False   False
2  False  False  False  False  False   False
3  False  False  False  False  False   False
4  False  False  False  False  False   False

In [25]:
df.isnull().sum()

발생년도      0
사고건수      0
사망자수      0
중상자수      0
경상자수      0
부상신고자수    0
dtype: int64

In [27]:
df.columns

Index(['발생년도', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')

In [29]:
null_count = df.isnull().sum()
df_null = null_count.reset_index()
df_null.columns = ['구분','결측값']
df_null

       구분  결측값
0    발생년도    0
1    사고건수    0
2    사망자수    0
3    중상자수    0
4    경상자수    0
5  부상신고자수    0

In [30]:
df_null.sort_values(by = '결측값').tail(3)

       구분  결측값
3    중상자수    0
4    경상자수    0
5  부상신고자수    0